# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.pyo
*.pyd
*.so
*.dist-info/

# Virtual envs
venv/
.venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data/Models
model/
!model/.gitkeep
train/*.ipynb

# Logs
logs/
*.log

# Coverage / test
.coverage
htmlcov/
.pytest_cache/

# Node
app/static/js/node_modules/
